.card-box {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  border-top: 10px solid transparent;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
}

.card-box.active {
  border-top: 10px solid orangered;
}

.card-box div {
  font-weight: 500;
  font-size: 1.95rem;
  margin-bottom: 5px;
}

.card-box small {
  font-size: 1.1rem;
  font-weight: 500;
}
