.caseDisplayContainer {
  color: white;
  text-align: center;
  padding-top: 12px;
}

.caseDisplayContainer span {
  font-size: larger;
  font-weight: bold;
}

.confirmedCaseBackground {
  background: #39f !important;
}

.deathCaseBackground {
  background: #e55353 !important;
}

.recoveredCaseBackground {
  background: #2eb85c !important;
}

.testCaseBackground {
  background: #f7b924 !important;
}

.confirmedCase {
  color: #427cd2 !important;
}

.deathCase {
  color: #c74333 !important;
}

.recoveredCase {
  color: #2eb85c !important;
}

.testCase {
  color: #f7b924 !important;
}

.activeCase {
  color: #f9b115 !important;
}

.deathRate {
  color: #e55353 !important;
}

.recoveredRate {
  color: #2eb85c !important;
}
