.App {
  margin: 10px 2rem;
}

.app_header {
  display: flex;
  justify-content: space-between;
}

.dropdown-box {
  width: 138px;
  display: block;
  align-self: center;
  margin: 5px;
}

.card::-webkit-scrollbar {
  display: none;
}

.table_container {
  padding: 15px 20px 5px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.news-container {
  margin-bottom: 15px;
  padding: 15px;
}

.chart_container {
  padding: 15px;
  border-radius: 5%;
}

.chart_container h4 {
  margin-left: 15px;
}

.card {
  border-radius: 1.25rem !important;
  margin-top: 20px;
}
