.App {
  margin: 10px 2rem;
}

.app_header {
  display: flex;
  justify-content: space-between;
}

.dropdown-box {
  width: 138px;
  display: block;
  align-self: center;
  margin: 5px;
}

.table_container {
  padding: 15px 20px 5px;
  margin-bottom: 15px;
}

.chart_container {
  padding: 15px;
  height: 38vh;
  overflow: auto;
}
