.controls {
  font-size: x-large;
  float: right;
  position: absolute;
  margin-top: -56px;
  right: 30px;
}

.controls-icons {
  margin: 5px;
}

.controls-icons:hover {
  fill: #ff5533;
}

.caseNumDisplay {
  display: inline-grid;
  margin-left: 10px;
}

.confirmedCase {
  color: #427cd2;
}

.deathCase {
  color: #c74333;
}

.recoveredCase {
  color: #2eb85c;
}
